@charset "UTF-8";
* {
    margin: 0;
}
:root {
    --cor1: #4d4b4c;
    --cor2: #6f6f6f;
    --cor3: #efefef;
    --cor4: #f6211f;
    --cor5: #cf0d0f;
}
body {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));
    text-align: justify;
}
header {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 20px;
}
nav {
    background-color: var(--cor2);
    padding: 10px;
}
nav a {
    text-decoration: none;
    color: var(--cor3);
    padding: 10px
}
article {
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
main p {
    margin: 20px 0px;
}
footer {
    background-color: var(--cor3)
}