@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    height: auto
}

body {
    background-image: linear-gradient(to right, #F0E6C2, #F7CFB2);
    background-attachment: fixed;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #aa8e7ab6;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #9EBAF0;
    text-align: center;
    text-shadow: 1px 1px 2px #58678694;
}

h2 {
    color: #D7AFFA;
}

p {
    text-align: justify;
}